$('#modalClientes').modal('toggle');
$('#tabelaClientes').append(
  '<tr id="cliente_<%= @cliente.id %>" ><td style="text-align:center"><%= @cliente.id %></td><td><%= @cliente.nome %></td><td><%= @cliente.telefone %></td><td><%= @cliente.created_at.strftime("%d/%m/%Y") %></td><td style="text-align:center"><%= link_to "Editar", edit_client_path(@cliente), class: "btn btn-info btn-sm", remote: true %> <%= link_to "Excluir", @cliente, remote: true, method: :delete, data: {confirm: "Deseja excluir o cliente: #{@cliente.nome}?"}, class: "btn btn-danger btn-sm" %></td></tr>'
);
