<%= form_with model: @supplier, remote: true do |f| %>
  <div class="form-group">
    <h4 class='control-label'>Informações do Fornecedor</h4>
  </div>

  <div class="form-row">
    <div class="item form-group col-md-8<%= @supplier.errors[:nome].any? ? 'has-error has-feedback' : '' %>">
      <%= f.label :nome, 'Nome' %>
      <div class="input-group">
        <%= f.text_field :nome, class: 'form-control'%>
        <% if @supplier.errors[:nome].any? %>
          <p class="bg-danger"><%= @supplier.errors[:nome].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group col-md-4<%= @supplier.errors[:telefone].any? ? 'has-error has-feedback' : '' %>">
      <%= f.label :telefone, 'Telefone' %>
      <div class="input-group">
        <%= f.telephone_field :telefone, class: 'form-control'%>
        <% if @supplier.errors[:telefone].any? %>
          <p class="bg-danger"><%= @supplier.errors[:telefone].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="item form-group col-md-10<%= @supplier.errors[:logradouro].any? ? 'has-error has-feedback' : '' %>">
      <%= f.label :logradouro, 'Logradouro' %>
      <div class="input-group">
        <%= f.text_field :logradouro, class: 'form-control'%>
        <% if @supplier.errors[:logradouro].any? %>
          <p class="bg-danger"><%= @supplier.errors[:logradouro].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group col-md-2<%= @supplier.errors[:numero].any? ? 'has-error has-feedback' : '' %>">
      <%= f.label :numero, 'Número' %>
      <div class="input-group">
        <%= f.text_field :numero, class: 'form-control'%>
        <% if @supplier.errors[:numero].any? %>
          <p class="bg-danger"><%= @supplier.errors[:numero].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="item form-group col-md-6<%= @supplier.errors[:bairro].any? ? 'has-error has-feedback' : '' %>">
      <%= f.label :bairro, 'Bairro' %>
      <div class="input-group">
        <%= f.text_field :bairro, class: 'form-control' %>
        <% if @supplier.errors[:bairro].any? %>
          <p class="bg-danger"><%= @supplier.errors[:bairro].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group col-md-6<%= @supplier.errors[:complemento].any? ? 'has-error has-feedback' : '' %>">
      <%= f.label :complemento, 'Complemento' %>
      <div class="input-group">
        <%= f.text_field :complemento, class: 'form-control'%>
        <% if @supplier.errors[:complemento].any? %>
          <p class="bg-danger"><%= @supplier.errors[:complemento].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="item form-group col-md-10<%= @supplier.errors[:cidade].any? ? 'has-error has-feedback' : '' %>">
      <%= f.label :cidade, 'Cidade' %>
      <div class="input-group">
        <%= f.text_field :cidade, class: 'form-control' %>
        <% if @supplier.errors[:cidade].any? %>
          <p class="bg-danger"><%= @supplier.errors[:cidade].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group col-md-2<%= @supplier.errors[:uf].any? ? 'has-error has-feedback' : '' %>">
      <%= f.label :uf, 'Estado' %>
      <div class="input-group">
        <%= f.text_field :uf, class: 'form-control'%>
        <% if @supplier.errors[:uf].any? %>
          <p class="bg-danger"><%= @supplier.errors[:uf].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="">
    <%= f.submit @supplier.new_record? ? 'Salvar' : 'Alterar', class:'btn btn-success' %>
    <button type="reset" class="btn btn-secondary">Limpar</button>
  </div>
<% end %>
